<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar tarea</h1>
    <form action="{% url 'editarTarea' pk=task.pk %}" method="post" >
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Aceptar</button>
    </form>
    <br>
    <form action="{% url 'listaTareas' %}" method="get">
        <button type="submit"> Lista tareas </button>
    </form>
</body>
</html>