<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Tareas</title>
</head>
<body>
    <h1>Nuevo tarea</h1>
    <form action="{% url 'listaTareas' %}" method="post" >
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit"> Nueva tarea </button>
    </form>    
    <h1>Tareas de Piero</h1>
    <ol>
        {% for tarea in tareas %}
            <li> 
                Nombre: {{tarea.nombre}} <br>
                Descripcion: {{tarea.descripcion}} <br>
                Realizacion: {{tarea.realizacion|yesno:"SI,NO"}} <br>
            </li>
            {% empty %}
            <li>
                No hay tareas por hacer
            </li>
        {%endfor%}    
    </ol>
</body>
</html>